@model List<ResultBannerDto>
@{
    ViewData["Title"] = "List";
    Layout = "_LayoutAdmin";
}

<div class="p-5 w-100">
    <div class="container">
        <h5 class="text-center">Banner Listesi</h5>
        <hr>
        @if (Model.Any())
        {
            <table class="table table-bordered table-hover">
                <thead>
                    <tr class="bg-dark text-light">
                        <th scope="col">Sıra No</th>
                        <th scope="col">Başlık</th>
                        <th scope="col">Resim</th>
                        <th scope="col">Onay Durumu</th>
                        <th colspan="2"></th>
                    </tr>
                </thead>
                <tbody class="align-middle">
                    @foreach (var item in Model)
                    {
                        <tr>
                            <td>@item.BannerRow</td>
                            <td>@item.BannerTitle</td>
                            <td><img src="@item.BannerImage" alt="" class="rounded-circle" style="height: 50px; width: 50px; object-fit: cover;"></td>
                            <td>
                                @if (item.BannerApproval)
                                {
                                    <i class="fa-regular fa-circle-check text-success fa-lg"></i>
                                } else
                                {
                                    <i class="fa-regular fa-circle-xmark text-danger fa-lg"></i>
                                }
                            </td>
                            <td><a asp-controller="Banner" asp-action="Update" asp-route-id="@item.BannerId" class="btn btn-primary">Güncelle</a></td>
                            <td><a asp-controller="Banner" asp-action="Delete" asp-route-id="@item.BannerId" class="btn btn-danger">Sil</a></td>
                        </tr>
                    }
                </tbody>
            </table>
        } else
        {
            <div class="alert alert-primary" role="alert">
                Burası boş. Yeni bir öge ekleyin.
            </div>
        }
        <hr>
        <a asp-controller="Banner" asp-action="Create" class="btn btn-success">Ekle</a>
    </div>
</div>